.dashboard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 80px, 200px, 200px, 500px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Navbar {
    grid-area: 1 / 1 / 2 / 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.Overview {
    grid-area: 2 / 1 / 3 / 8;
    /* border: 1px solid black; */
    height: 250px;
    margin-top: 65px;
}

.Transactions {
    grid-area: 3 / 1 / 5 / 3;
    display: flex;
    width: 360px;
    height: 479px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    margin-left: 40px;
    overflow: scroll;
}

.Budget {
    border-radius: 15px;
    background: #FFF;
    grid-area: 3 / 3 / 5 / 6;
    border: 1px solid black;
    height: 479px;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: none;

}

.Budget h1 {
    width: 600px;

}

.Goals {
    grid-area: 3 / 6 / 5 / 8;
    width: 360px;
    height: 479px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    margin-right: 40px;
}

.components {
    grid-area: 3 / 1 / 3 / 8;
    display: flex;
    justify-content: space-between;
}

.Sidebar {
    grid-area: 1 / 6 / 4 / 8;
    background-color: #FFF;
    height: 100vh;
    width: auto;
    z-index: 100;
}

#sidebar-button {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #1E9700;
    position: absolute;
    bottom: 16px;
    right: 24px;
}