.goalForm {
  margin-top: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.goalForm label {
  font-weight: bold;
  font-size: 1.6rem;
}

.goalForm input {
  padding: 1.2rem;
}

.goalForm button {
  border: 2px solid black;
  padding: 1.2rem;
  background-color: black;
  color: white;
}
