.login-signup-page-container {
  display: flex;
  min-height: 100vh;
  font-family: inter;
}

.website-title {
  font-family: inter;
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -5px;
  position: absolute;
  top: 1.6rem;
  left: 2.4rem;
}

.image-box {
  flex: 1;
  position: relative;
}

.form-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 35rem;
}

.form-title {
  font-weight: 700;
  font-size: 2.4rem;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.login-inputs input {
  padding: 1.8rem 1.2rem;
  background-color: #f2f1f0;
  border: none;
}

.login-signup-btn {
  background-color: #151515;
  color: #fff;
  padding: 1.2rem;
  border: none;
  border-radius: 1.6rem;
}

.bold {
  font-weight: 700;
  cursor: pointer;
}

.first-last {
  display: flex;
  gap: 0.6rem;
}

.first-last input {
  flex: 1;
}
