.closed-button {
    display: flex;
    justify-content: flex-end;
}

#close-button {
    margin: 24px;
}

.sidebar-content {
    padding: 0px 40px;
}

.sidebar-selection {
    display: flex;
    justify-content: space-between;
}

.sidebar-selection button {
    color: #0A0909;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.72px;
    opacity: 0.4000000059604645;
}

.sidebar-selection button:active {
    color: black;
    opacity: 1;
}

.budget-form {
    margin-top: 3.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.budget-form label {
    font-weight: bold;
    font-size: 1.6rem;
}

.budget-form input {
    display: flex;
    padding: 27px 22px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    border: none;
    background: #F2F1F0;
}

.category-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.category-buttons-expense {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.category-buttons button {
    height: 96px;
    width: 96px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.10);
}

.category-buttons-expense button {
    height: 96px;
    width: 96px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.10);
}

.category-buttons div {
    color: #0A0909;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.24px;
}

.category-buttons-expense div {
    color: #0A0909;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.24px;
}

.category-buttons button:active {
    background-color: black;
    opacity: 0.1;
}

.category-buttons-expense button:active {
    background-color: black;
    opacity: 0.1;
}

/* .category-buttons button:hover {
    border: 5px solid rgba(0, 0, 0, 0.10);
} */

.category-buttons p {
    padding-top: 16px;
}

.sidebar-selection {
    display: flex;
}

.submit-button {
    color: #FFF;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.48px;
    display: flex;
    width: 121px;
    height: 56px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #151515;
}