.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background-color: #FFF;
}

.header span {
    background-color: transparent;
}

.filterIcon {
    background-color: #FFF;
    position: relative;
    left: 20px;
}

.header select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    position: relative;
    left: 98px;
    bottom: 5px;
    width: 35px;
    height: 35px;
}

.header select,
option {
    font-family: Inter;
    font-style: normal;
    font-size: 12px;
    font-weight: 00;
    line-height: 100%;
    letter-spacing: -0.48px;
}

.header select,
option:checked {
    color: transparent;
    background-color: transparent;
    outline: none;
}

.header select,
option:hover {
    cursor: pointer;
}

.date-range {
    display: flex;
    align-self: stretch;
    background-color: #FFF;
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.48px;
}

.date-input {
    display: flex;
    align-self: stretch;
}

.date-range input[type="date"] {
    opacity: 0;
    margin: 16px 0;
    background-color: #FFF;
    width: 60px;
    cursor: pointer;
    position: relative;
}

#week-start {
    position: relative;
    bottom: 20px;
    right: 140px;
}


#week-end {
    position: relative;
    bottom: 20px;
    right: 125px;
}

.single-transaction {
    color: #0A0909;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.48px;
    display: flex;
    padding: 0 0 16px 0;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
}

#transaction-category {
    padding-top: 5px;
    color: #0a090966;
}

h1,
p {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

.categories {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    background-color: #FFF;
}

.category-data {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    background-color: #FFF;
}

.category-data div {
    color: #0A0909;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.48px;
    background-color: #FFF;
}

.category-bars {
    display: flex;
    padding: 12px 0 0 0;
    background-color: #FFF;
}

.green-bar {
    background-color: #1E9700;
    height: 5px;
    width: 0;
    border-radius: 32px;
}

.grey-bar {
    height: 5px;
    opacity: 0.10000000149011612;
    background: #000;
    border-radius: 32px;
}